# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.helix

# environment variable
.env*
.env.*
.vercel

# build output
.vercel
.vinxi
.vercel/*
.vinxi/*
.vercel/
.vinxi/
.output
.output/*
.output/
count.txt
